// SECTION :: START

section#about.about
  .c-grid
    .about__wrapper
      .about__wrapper-left

        div

          h2.about__title TOKENOMICS

          p.about__desc The tokenomics of the TRV Ecosystem are laid out as followed:
          p.about__desc $RUST is earned by staking TRV NFTs. For every 6 hours it is staked, it produces 5.625 $RUST. Thus, it takes 13.3334 days to level up from staking rewards alone.
          p.about__desc $RUST is converted to $OIL in a 300:1 ratio. $OIL cannot be converted back to $RUST. When $RUST is converted to $OIL 90% is burned. 10% remaining is unburned and sold on market for $OIL. This market bought $OIL is then redistributed to stakers in the $OIL single-sided staking farm (xOIL).
          p.about__desc $OIL is used in batches of 10 to upgrade TRV to next “prestige” or level. Every level up increases the $RUST produced from staking. Each level up increases the reward by 10 Rust per 6 hours.
          p.about__desc Each level up also requires more $OIL. Each 10 levels the amount of oil needed increases by 2 $OIL.
          p.about__desc TRV NFTs are capped at level 50.
          p.about__desc $RUST can also be burned to boosts staking or enact “overtime” on Rust production This enacts a short term, timed boost of 15% to all Rust production from your TRV.

      .about__wrapper-right

        .about__visual
          img(src="img/img-about-visual.png" srcset="img/img-about-visual@2x.png 2x" alt="")

    p.about__desc TRV NFTs are capped at level 50.
    p.about__desc $RUST can also be burned to boosts staking or enact “overtime” on Rust production This enacts a short term, timed boost of 15% to all Rust production from your TRV.


// SECTION :: END
