// SECTION :: START

section#are.are

  .are__bg
    .are__bg-top
    .are__bg-bottom(data-speed="-.05")

  .c-grid
    .are__wrapper

      .are__line
        div
          i(are-point-1-js)
        div
          span(are-line-1-js)
        div
          span(are-line-2-js)
          span(are-line-3-js)
        div
          div
            span(are-line-4-js)
            i(are-point-2-js)
          div
            span(are-line-5-js)
            i(are-point-3-js)
          div
            span(are-line-6-js)
            i(are-point-4-js)
          div
            span(are-line-7-js)
            i(are-point-5-js)

      .are__block-wrapper
        div
          .are__block.are__block-1
            img.are__block-arrow(src="img/arrow-right.png" srcset="img/arrow-right@2x.png" alt="")
            .are__block-head
              img(src="img/img-are-box-1.png" srcset='img/img-are-box-1@2x.png 2x' alt="")
            .are__block-body
              p.are__block-title WHO ARE WE?
              p.are__block-desc We are a team of NFT entrepreneurs, collectors, community builders, artist and developers looking to contribute to the NEAR ecosystem by creating a luxury project that brings value to its holders.
        div
          .are__block.are__block-2
            img.are__block-arrow(src="img/arrow-right.png" srcset="img/arrow-right@2x.png" alt="")
            .are__block-head
              img(src="img/img-are-box-2.png" srcset='img/img-are-box-2@2x.png 2x' alt="")
            .are__block-body
              p.are__block-title WHAT ARE WE
              p.are__block-desc Bound to the Near Ecosystem, TOKONAMI REVOLUTION is a hand drawn, algorithmically generated NFT collection, but not just that. Complete with staking mechanisms, upgrading and customizability, TOKONAMI REVOLUTION is a complete gamified ecosystem with a bi-token looping infrastructure yielding rewards to its holders.
        div
          .are__block.are__block-3
            img.are__block-arrow(src="img/arrow-right.png" srcset="img/arrow-right@2x.png" alt="")
            .are__block-head
              img(src="img/img-are-box-3.png" srcset='img/img-are-box-3@2x.png 2x' alt="")
            .are__block-body
              p.are__block-title WHEN WILL WE LAUNCH
              p.are__block-desc TOKONAMI REVOLUTION is set to launch mid-March of 2022.
        div
          .are__block.are__block-4
            .are__block-head
              img(src="img/img-are-box-4.png" srcset='img/img-are-box-4@2x.png 2x' alt="")
            .are__block-body
              p.are__block-title WHERE WILL WE LAUNCH
              p.are__block-desc We are committed to the NEAR Blockchain and stand behind its goal of achieving a climate neutral architecture. We must care for our IRL ecosystem; there is no Planet B.

// SECTION :: END
