// SECTION :: START

section#welcome.welcome

  .welcome__bg

  .c-grid
    .welcome__wrapper
      .welcome__wrapper-left

        img(src="img/img-welcome.png" alt="")

      .welcome__wrapper-right

        img(src="img/arrow-down.png" srcset="img/arrow-down@2x.png" alt="")

        h2.welcome__title The year is 2042.
        p.welcome__desc The AI agreement was violated by [REDACTED] in the search of infiltrating the CIA’s archives.
        p.welcome__desc Technology took a mind of its own.

        h2.welcome__title The year is 3046.
        p.welcome__desc The human species has long been dominated.
        p.welcome__desc Cyborgs are ruling the world.
        p.welcome__desc A select group of humans, the * TOKONAMI * have infiltrated the new establishment by transcending their consciousness into deactivated cyborgs, creating the TOKONAMI REVOLUTION.
        p.welcome__desc 4.444 transcended humans must leave behind their bodies in order to fight the ruling class in a newly evolved shape.
        p.welcome__desc But little do they know; the greatest battle will be held against themselves...

// SECTION :: END
