// SECTION :: START

.about {
  position: relative;
  padding-top: 140px;
  padding-bottom: 100px;
  background-color: #000000;
  @include adaptive(1023) {
    padding-top: 100px;
  }

  &__bg {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &-cover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('../img/img-about-bg.png');
      background-repeat: no-repeat;
      background-position: center top;
      //background-size: contain;
    }

    &-wrapper {
      z-index: 1;
      position: relative;
      display: flex;
      flex-direction: column;
      padding-left: 80px;
      padding-right: 80px;
      transform: translateY(-270px);

      span {
        background-color: #1fa875;

        &:nth-of-type(1) {
          width: 1px;
          height: 350px;
        }
        &:nth-of-type(2) {
          width: 110px;
          height: 1px;
        }
        &:nth-of-type(3) {
          width: 1px;
          height: 50px;
          transform: translateX(109px);
        }
      }

      i {
        transform: translateX(106px);
        width: 7px;
        height: 7px;
        background-color: #1fa875;
      }
    }
  }

  &__wrapper {
    z-index: 2;
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: 30px;
    @include adaptive(1023) {
      flex-wrap: wrap;
    }

    &-left,
    &-right {
      width: 50%;
      @include adaptive(1023) {
        width: 100%;
      }
    }

    &-left {
      padding-right: 20px;
      @include adaptive(1023) {
        padding-right: 0;
      }

      > div {
        width: 100%;
        max-width: 540px;
        @include adaptive(1023) {
          max-width: 100%;
        }
      }
    }
  }

  &__title {
    padding-bottom: 30px;
    @extend %fontModernDOS;
    font-size: 30px;
    color: #9e005d;
    text-transform: uppercase;
    @include adaptive(1023) {
      font-size: 26px;
      text-align: center;
    }
  }

  &__desc {
    font-size: 18px;
    @include adaptive(1023) {
      font-size: 16px;
      text-align: center;
    }

    &:not(:last-of-type) {
      padding-bottom: 30px;
    }
  }

  &__visual {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    @include adaptive(1023) {
      padding-top: 20px;
    }

    img {
      display: block;
      max-width: 100%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

// SECTION :: END
