// SECTION :: START

.about {
  position: relative;
  padding-top: 140px;
  padding-bottom: 100px;
  background-color: #000000;
  background-image: url('../img/img-about-bg.png');
  background-repeat: no-repeat;
  background-position: center top;
  @include adaptive(1023) {
    padding-top: 100px;
    background-size: contain;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    padding-bottom: 30px;
    @include adaptive(1023) {
      flex-wrap: wrap;
    }

    &-left,
    &-right {
      width: 50%;
      @include adaptive(1023) {
        width: 100%;
      }
    }

    &-left {
      padding-right: 20px;
      @include adaptive(1023) {
        padding-right: 0;
      }

      > div {
        width: 100%;
        max-width: 540px;
        @include adaptive(1023) {
          max-width: 100%;
        }
      }
    }
  }

  &__title {
    padding-bottom: 30px;
    @extend %fontModernDOS;
    font-size: 30px;
    color: #9e005d;
    text-transform: uppercase;
    @include adaptive(1023) {
      font-size: 26px;
      text-align: center;
    }
  }

  &__desc {
    font-size: 18px;
    @include adaptive(1023) {
      font-size: 16px;
      text-align: center;
    }

    &:not(:last-of-type) {
      padding-bottom: 30px;
    }
  }

  &__visual {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    @include adaptive(1023) {
      padding-top: 20px;
    }

    img {
      display: block;
      max-width: 100%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

// SECTION :: END
