// LOGOTYPE :: START

.logo {
  display: flex;
  align-items: flex-start;

  &__btn {
    display: flex;

    img {
      display: block;
      max-width: 33px;
      height: auto;
    }
  }
}

// LOGOTYPE :: END
